/* Following are the presentation styles -- edit away! */

html { background: #FFF url('../../img/techtalks_logo.png') no-repeat 98% 98% fixed; }
body { color: #444; font-size: 110%; font-family: "Arial" sans-serif; }
:link, :visited {text-decoration: none; color: #CC0000;}
#controls :active {color: #666 !important;}
#controls :focus {outline: 1px dotted #227;}
h1, h2, h3, h4 {font-size: 100%; margin: 0; padding: 0; font-weight: inherit;}
ul, pre {margin: 0; line-height: 1em;}
html, body {margin: 0; padding: 0;}

blockquote, q {font-style: italic;}
blockquote {padding: 0 2em 0.5em; margin: 0 1.5em 0.5em; text-align: center; font-size: 1em;}
blockquote p {margin: 0;}
blockquote i {font-style: normal;}
blockquote b {display: block; margin-top: 0.5em; font-weight: normal; font-size: smaller; font-style: normal;}
blockquote b i {font-style: italic;}

kbd {font-weight: bold; font-size: 1em;}
sup {font-size: smaller; line-height: 1px;}

.slide code {padding: 2px 0.25em; font-weight: bold; color: #000;}
.slide code.bad, code del {color: red;}
.slide code.old {color: silver;}
.slide pre {padding: 0; margin: 0.25em 0 0.5em 0.5em; color: #533; font-size: 90%;}
.slide pre code {display: block;}
.slide ul {list-style: disc;}
.slide li {margin-top: 0.75em; margin-right: 0;}
.slide ul ul {line-height: 1;}
.slide ul ul li {list-style: circle;}
.slide img.leader {display: block; margin: 0 auto;}

#footer {font-size: 90%; padding: 1em 0; border-top: 1px dotted #666;}
#footer h1, #footer h2 {display: block; padding: 0 1em;}
#footer h2 {font-style: italic;}

div.long {font-size: 0.75em;}
.slide h1 {z-index: 1; margin: 0; white-space: nowrap; font-size: 300%;}
.slide h3 {font-size: 130%;}
abbr {font-variant: small-caps; border-bottom: 1px dotted;}

div#controls {position: absolute; left: 60%; bottom: 0;
  width: 40%; text-align: right; font-weight: bold; font-size: 140%;}
html>body div#controls {position: fixed; padding: 0; top: auto;}
#controls #navLinks a {padding: 0; margin: 0 0.5em;
  border: none; color: #444; cursor: pointer;}
#controls #navList #jumplist {color: #444;}
#controls * option {visibility: visible !important;}

#currentSlide {text-align: center; color: #333;}

#slide0 {padding-top: 3.5em; font-size: 90%;}
#slide0 h1 {position: static; margin: 1em 0 0; padding: 0; white-space: normal;
  font-size: 400%; border-bottom: 1px dotted;}
#slide0 h2 {margin: 0.25em; font-size: 200%;}
#slide0 h3 {margin-top: 1.5em; font-size: 200%;}
#slide0 h4 {margin-top: 0; font-size: 110%;}

ul.urls {list-style: none; display: inline; margin: 0;}
.urls li {display: inline; margin: 0;}
.note {display: none;}
.external {border-bottom: 1px dotted gray;}
html>body .external {border-bottom: none;}
.external:after {content: " \27AE"; font-size: smaller; color: #CC0000;}

.incremental, .incremental *, .incremental *:after {color: #DDE; visibility: visible;}
img.incremental {visibility: hidden;}
.slide .current {font-weight: bold;}

.current.alert { display: block; text-align: center; color: #CC0000; font-size: 400%; margin-top: 100px; }
